$default-color-text: #FFFF;
$secondary-color-text: black;

$default-background-color: #1E5AFF;
$form-background-color: #cc2b5e;


$login-button-color: #FFFF;
$default-button-color: #FF8C20;
$default-button-hover-color: #FFFF;